/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */
body {
	margin: 0;
}

.whole {
	display: flex;
	flex-direction: column;
}

.column {
	display: flex;
	height: 30vw;
}

header,
footer {
	height: 10vw;
}

article {
	flex-grow: 3;
}

nav,
aside {
	flex-grow: 1;
}

header,
nav,
article,
aside,
footer {
	padding: 10px;
}